<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <form method="post" action="">
        <table>
            <tr>
                <td><input type="text" name="name" placeholder="Firstname"></td>
            </tr>
            <tr>
                <td><input type="text" name="family" placeholder="Lastname"></td>
            </tr>
            <tr>
                <td><input type="email" name="email" placeholder="Email"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Register"></td>
            </tr>
        </table>
    </form>
</body>
</html>